body {
  font-family: "Jost", sans-serif;
  color: #222;
}

.sliding-underline {
  display: inline-block;
  position: relative;
  padding: 6px 0px;
  cursor: pointer;
}

.sliding-underline:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: #222;
  transition: width 0.5s ease 0s;
}

.sliding-underline:hover:after {
  width: 100%;
}
